<div class="form-container">
  <h2 *ngIf="!showAddReportForm">ADD SUPPORT DETAILS</h2>

  <!-- Search Section -->
  <div class="search-container" *ngIf="!showAddReportForm">
    <label for="jobSearch">Job Number:</label>
    <input type="text" id="jobSearch" [(ngModel)]="jobNumber" placeholder="Enter job number" />
    <button (click)="searchJob()">Search</button>
  </div>

  <!-- Show if reports found -->
  <div *ngIf="showReportDropdown && !showAddReportForm" class="results-container">
    <label for="reportDropdown">Select Report Number:</label>
    <select id="reportDropdown" [(ngModel)]="selectedReport">
      <option *ngFor="let report of reportNumbers" [value]="report">{{ report }}</option>
    </select>

    <button (click)="addReportDetails()">Add Report Details</button>
  </div>
  <div class="results-container" *ngIf="showAddReportForm">
    <details-supp [jobDetails]="jobDetails"></details-supp>
  </div>
</div>
