<div class="main-container">
  <div class="button-container" *ngIf="activeComponent == ''">
    <div class="vertical-buttons">
      <button class="btn"  (click)="showComponent('add-job')">ADD JOB</button>
      <button class="btn" (click)="showComponent('add-support')">ADD SUPPORT MATERIALS</button>
      <button class="btn">VIEW JOB</button>
    </div>
  </div>
  <!-- Dynamic Component Display -->
  <div *ngIf="activeComponent !=''" class="component-area container">
    <add-job *ngIf="activeComponent === 'add-job'"></add-job>
    <add-support *ngIf="activeComponent === 'add-support'"></add-support>
  </div>
</div>
