.report-header {
  background-color: #d9d9d9;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
}

.job-info {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 14px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

th, td {
  border: 1px solid #444;
  padding: 6px;
  text-align: center;
}

thead th {
  background-color: #f0f0f0;
}

.progress-table tbody tr td:first-child{
  font-weight: bold;
}
